{
	email {$HELPMEFINDTHEJOB_ADMIN_EMAIL}
}

{$HELPMEFINDTHEJOB_DOMAIN} {
	encode zstd gzip
	reverse_proxy helpmefindthejob:8765
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
	}
}
